#!/usr/bin/env xdg-open
[Desktop Entry]
Name=White House
Comment=Hack your world with CSS
Exec=com.endlessnetwork.whitehouse.sh
Icon=com.endlessnetwork.whitehouse
Terminal=false
Type=Application
Categories=Game;X-LearnToCode;
Keywords=game;programming;puzzle;casual;
